.InputToggle {
  align-items: center;
  border: 1px solid #5E727C;
  border-radius: 24px;
  color: #E3E6E9;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  height: 44px;
  width: 350px;
  justify-content: space-between;
  cursor: pointer;

    &__toggles {
      color: #5E727C;
      height: 44px;
      padding: 8px;
      text-align: center;
      width: 200px;
      white-space: nowrap;
    }

    .active {
      color: #ffffff;
      border-radius: 24px;
      background-color: #607D8B;
    }

}